@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f0f0f0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* スクロールバー全体のスタイル */
::-webkit-scrollbar {
  width: 20px; /* スクロールバーの幅 */
  height: 10px;
  min-height: 100vh;
}

/* スクロールバーのハンドル部分 */
::-webkit-scrollbar-thumb {
  background-color: gray; /* ハンドルの色 */
  border-radius: 5px; /* ハンドルの角の丸み */
}

/* スクロールバーのトラック部分 */
::-webkit-scrollbar-track {
  background: #F3F4F6; /* トラックの背景色 */
}